.conteiner {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  background-color: aqua;
  flex-flow: column;
}
.item {
  width: 50px;
  background-color: blue;
  height: 50px;
  margin: 10px;
  text-align: center;
  color: #000;
}
.one {
  order: 3;
}
.two {
  order: 2;
}
.three {
  order: 1;
}
/* same 
/*.items:nth-child(1){
  order:3;
}
.items:nth-child(2){
  order:2;
}
.items:nth-child(3){
  order:1;
}*/
.items:nth-child(1) {
  flex-shrink: 2;
  align-self: flex-end;
}
.items:nth-child(2) {
  flex-shrink: 3;
  align-self: flex-start;
}
.items:nth-child(3) {
  flex-shrink: 1;
  align-self: center;
}
