ul {
  list-style-type: style type square;
}
ol {
  list-style-type: lower-roman upper-alpha;
}
li {
  text-align: center;
  list-style-type: inside;
}
ul {
  list-style-type: "\1F435";
}

ul {
  list-style-image: linear-gradient(to left bottom, yellow, red);
}
