* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  height: 100vh;

  background-size: cover;
  background-position: center;
}
img {
  height: 50px;
  width: 50px;
}
li {
  list-style: none;
  position: relative;
}
a {
  text-decoration: none;
  color: #fff;
  font-size: 1rem;
}
a:hover {
  color: wheat;
}
header {
  position: relative;
  padding: 0 2rem;
}
.nav-bar {
  height: 50px;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #626262;
}

.nav-bar .links {
  display: flex;
  gap: 3rem;
}
.nav-bar .toggle_btn {
  color: white;
  font-size: 1.5rem;
  cursor: pointer;
  display: none;
}
input {
  background-color: #fff;
  background-image: url("./Image.index/icon.png");
  background-position: 0.75rem center;
  background-repeat: no-repeat;
  background-size: 1rem;
  border: none;
  border-radius: 2rem;
  padding: 0.75rem 0.75rem 0.75rem 1.75rem;
  transition: 250ms;
  width: 2.5rem;
}

input:hover,
input:focus {
  width: 200px;
  padding: 0.75rem 0.75rem 0.75rem 2.5rem;
}

.dropdwon-menu {
  display: none;
  position: absolute;
  right: 2rem;
  height: 0;
  top: 60px;
  height: 0;
  width: 300px;
  background: rgba(225, 225, 225, 0.1);
  backdrop-filter: blur(15px);
  border-radius: 10px;
  overflow: hidden;
  transition: height 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
.dropdwon-menu.open {
  margin-top: 20px;
  height: 295px;
  color: rgb(177, 111, 238);
}
.dropdwon-menu li {
  padding: 0.7rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media (max-width: 992px) {
  .nav-bar .links {
    display: none;
  }
  .nav-bar .toggle_btn {
    display: block;
  }
  .dropdwon-menu {
    display: block;
  }
}
@media (max-width: 576px) {
  .dropdwon-menu {
    left: 2rem;
    width: unset;
  }
}
.TestAutomatin {
  display: none;
}
.nav-bar ul li:hover .TestAutomatin {
  display: block;
  position: absolute;
  left: 0;
  top: 100%;
  background-color: skyblue;
}
.nav-bar ul li:hover .TestAutomatin ul {
  display: block;
  margin: 10px;
  text-align: end;
}
.nav-bar ul li:hover .TestAutomatin ul li {
  width: 150px;
  padding: 10px;
}
.fas {
  float: right;
  margin-left: 10px;
  padding-top: 3px;
}
.Java {
  display: none;
}
.JavaScript {
  display: none;
}
.TestAutomatin ul li:hover .Java,
.TestAutomatin ul li:hover .JavaScript {
  display: block;
  position: absolute;
  top: 0;
  left: 150px;
  background-color: skyblue;
}

.TestAutomatin ul li:hover .Java ul li,
.TestAutomatin ul li:hover .JavaScript ul li {
  display: block;
  margin: 10px;
  text-align: center;
}
.project {
  display: none;
}
.nav-bar ul li:hover .project {
  display: block;
  position: absolute;
  left: 0;
  top: 100%;
  background-color: skyblue;
}
.nav-bar ul li:hover .project ul {
  display: block;
  margin: 10px;
  text-align: center;
}
.nav-bar ul li:hover .project ul li {
  width: 150px;
  padding: 10px;
}
.about {
  display: none;
}
.nav-bar ul li:hover .about {
  display: block;
  position: absolute;
  left: 0;
  top: 100%;
  background-color: skyblue;
}
.nav-bar ul li:hover .about ul {
  display: block;
  margin: 10px;
  text-align: start;
}
.nav-bar ul li:hover .about ul li {
  width: 150px;
  padding: 10px;
}

.flex-side {
  display: flex;
  margin: auto;
}
.flex-left {
  position: relative;
  height: 100vh;
  width: 20%;
  background-image: url(images/me2.png);
  background-position: center;
}

.profile-pic-div {
  margin-top: 60px;
  margin-left: 30px;
  height: 200px;
  width: 200px;
  position: absolute;

  transform: 50%, -50%;
  border-radius: 50%;
  overflow: hidden;
  border: 1px solid skyblue;
}

#photo {
  height: 100%;
  width: 100%;
}

.profile-pic-div:hover #uploadBtn {
  display: initial;
}

#myStayle {
  display: none;
}
#uploadBtn {
  width: 100%;
  height: 30px;
  position: absolute;
  bottom: 0;

  transform: translateX(-100%);
  text-align: center;
  background: rgba(0, 0, 0, 0.5);
  color: #fff;

  font-family: sans-serif;
  font-size: 12px;
  display: none;
  cursor: pointer;
  transition: 200ms;
}
#uploadBtn::-webkit-file-upload-button {
  visibility: hidden;
}
#uploadBtn::before {
  content: "\f030";
  font-family: "fontawesome";
  font-size: 25px;
  color: #fff;
  display: inline-block;
}

#uploadBtn:hover {
  opacity: 1;
}

.flex-right {
  margin-top: 60px;
  min-height: 100vh;
  width: 80%;
  text-align: center;
  image-rendering: auto;
}

#aboutme,
#skilis {
  display: flex;
  flex-direction: row;
  position: relative;

  margin-top: 80px;
  margin-left: 30px;

  background-color: rgb(169, 104, 104);
  border: none;
  color: white;
  cursor: pointer;
  font-size: 20px;
  font-weight: bold;
  padding: 10px;
  width: 200px;
  border-radius: 5px;
}
.aboutme {
  margin-top: 350px;
}

.test {
  margin-top: 10%;
  text-align: center;
}
.text {
  margin-top: 50px;
  margin-left: 10%;
  margin-right: 10%;
  font-size: 18px;
  text-justify: auto;
  text-align: start;
}

.icon {
  display: flex;
  flex-direction: row;
  position: absolute;
}
.JavaScript,
.Java,
.visualStudioCode,
.HTML5,
.CSS3,
.Pyhton,
.React,
.JSON,
.CodePen,
.Figma,
.Cypress,
.IntelliJIDEA,
.ApacheMaven,
.AWS,
.PostMan,
.MySQL,
.TestNG,
.Junit,
.Cocumber,
.JIRA,
.confluence {
  height: 100px;
  width: 100px;
}
.me {
  height: 50%;
  width: 40%;
  margin-top: 10px;
}
h1,
h4 {
  display: block;
  margin: auto;
  color: aquamarine;
  text-size-adjust: 5px;
  text-align: center;
  line-height: 1.4em;
  opacity: 0;
}
h1 {
  font-size: 48px;
}
h4 {
  font-size: 25px;
  font-weight: bold;
}
@keyframes fadeIn {
  to {
    opacity: 1; /* At the end of the animation, opacity becomes 1 (fully visible) */
  }
}

/* Target the <h1> and <h4> elements directly */
.header1 h1,
.header1 h4 {
  animation: fadeIn 1s ease-in-out; /* Animation duration: 1 second, ease-in-out for smooth start and end */
  animation-fill-mode: forwards; /* Keep the last keyframe styles (opacity: 1) after animation ends */
}

.header1 {
  display: flex;
  align-items: center;
  background-color: black;
  margin: auto;
  justify-content: flex-start;
  width: 100%;
  max-width: 1200px;
}
.me1 {
  height: 25%;
  width: 30%;
  align-items: center;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
}
.aboutHeader,
.projectHeader,
.skilisHeader,
.contactHeader {
  height: 691px;

  display: flex;
  align-items: center;
  justify-content: center;

  margin: auto;
  width: 100%;
  max-width: 1200px;
}
.aboutHeader {
  background-color: #fff;
}
.coding {
  width: 669px;
  height: 691px;
  flex-shrink: 0;
  margin-top: 1px;
}
p {
  font-size: 15px;
}
.projectHeader {
  background-color: #22242e;
}
.skilisHeader {
  background-color: black;
}
.contactHeader {
  background-color: white;
}
.contactGift {
  height: 100%;
  width: 100%;
}
footer {
  align-items: center;
  justify-content: center;
  display: flex;
  margin: auto;
  background-color: cyan;
  height: 100px;
  width: 100%;
  border-radius: 25px;
}

.followme,
.linkedin,
.Github,
.discord,
.Email {
  height: 60px;
  width: 60px;
  margin-left: 25px;
  margin-right: 25px;
}
