* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  height: 100vh;
  background: linear-gradient(skyblue, rgb(220, 186, 186));

  background-size: cover;
  background-position: center;
}
img {
  height: 120px;
  width: 120px;
}
li {
  list-style: none;
  position: relative;
}
a {
  text-decoration: none;
  color: #fff;
  font-size: 1rem;
}
a:hover {
  color: wheat;
}
header {
  position: relative;
  padding: 0 2rem;
}
.nav-bar {
  height: 150px;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav-bar .links {
  display: flex;
  gap: 3rem;
}
.nav-bar .toggle_btn {
  color: white;
  font-size: 1.5rem;
  cursor: pointer;
  display: none;
}
input {
  background-color: #fff;
  background-image: url("./images/search.png");
  background-position: 0.75rem center;
  background-repeat: no-repeat;
  background-size: 1rem;
  border: none;
  border-radius: 2rem;
  padding: 0.75rem 0.75rem 0.75rem 1.75rem;
  transition: 250ms;
  width: 2.5rem;
}

input:hover,
input:focus {
  width: 200px;
  padding: 0.75rem 0.75rem 0.75rem 2.5rem;
}

.dropdwon-menu {
  display: none;
  position: absolute;
  right: 2rem;
  height: 0;
  top: 60px;
  height: 0;
  width: 300px;
  background: rgba(225, 225, 225, 0.1);
  backdrop-filter: blur(15px);
  border-radius: 10px;
  overflow: hidden;
  transition: height 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
.dropdwon-menu.open {
  margin-top: 20px;
  height: 295px;
  color: rgb(177, 111, 238);
}
.dropdwon-menu li {
  padding: 0.7rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media (max-width: 992px) {
  .nav-bar .links {
    display: none;
  }
  .nav-bar .toggle_btn {
    display: block;
  }
  .dropdwon-menu {
    display: block;
  }
}
@media (max-width: 576px) {
  .dropdwon-menu {
    left: 2rem;
    width: unset;
  }
}
.TestAutomatin {
  display: none;
}
.nav-bar ul li:hover .TestAutomatin {
  display: block;
  position: absolute;
  left: 0;
  top: 100%;
  background-color: skyblue;
}
.nav-bar ul li:hover .TestAutomatin ul {
  display: block;
  margin: 10px;
  text-align: end;
}
.nav-bar ul li:hover .TestAutomatin ul li {
  width: 150px;
  padding: 10px;
}
.fas {
  float: right;
  margin-left: 10px;
  padding-top: 3px;
}
.Java {
  display: none;
}
.JavaScript {
  display: none;
}
.TestAutomatin ul li:hover .Java,
.TestAutomatin ul li:hover .JavaScript {
  display: block;
  position: absolute;
  top: 0;
  left: 150px;
  background-color: skyblue;
}

.TestAutomatin ul li:hover .Java ul li,
.TestAutomatin ul li:hover .JavaScript ul li {
  display: block;
  margin: 10px;
  text-align: center;
}
.project {
  display: none;
}
.nav-bar ul li:hover .project {
  display: block;
  position: absolute;
  left: 0;
  top: 100%;
  background-color: skyblue;
}
.nav-bar ul li:hover .project ul {
  display: block;
  margin: 10px;
  text-align: center;
}
.nav-bar ul li:hover .project ul li {
  width: 150px;
  padding: 10px;
}
.about {
  display: none;
}
.nav-bar ul li:hover .about {
  display: block;
  position: absolute;
  left: 0;
  top: 100%;
  background-color: skyblue;
}
.nav-bar ul li:hover .about ul {
  display: block;
  margin: 10px;
  text-align: start;
}
.nav-bar ul li:hover .about ul li {
  width: 150px;
  padding: 10px;
}

.flex-side {
  display: flex;
}
.flex-left {
  margin-top: 0px;
  height: 100vh;
  width: 20%;
  background-image: url(images/me2.png);
  background-position: center;
  align-items: center;
}

.profile-pic-div {
  margin-top: 100px;
  height: 150px;
  width: 150px;
  margin-left: 65px;
  position: absolute;
  text-align: center;
  transform: 50%, -50%;
  border-radius: 50%;
  overflow: hidden;
  border: 1px solid;
}

#photo {
  height: 100%;
  width: 100%;
}

.profile-pic-div:hover #uploadBtn {
  display: initial;
}

#myStayle {
  display: none;
}
#uploadBtn {
  width: 100%;
  height: 25px;
  position: absolute;
  bottom: 0;

  transform: translateX(-100%);
  text-align: center;
  background: rgba(0, 0, 0, 0.5);
  color: #fff;

  font-family: sans-serif;
  font-size: 12px;
  display: none;
  cursor: pointer;
  transition: 200ms;
}
#uploadBtn::-webkit-file-upload-button {
  visibility: hidden;
}
#uploadBtn::before {
  content: "\f030";
  font-family: "fontawesome";
  font-size: 25px;
  color: #fff;
  display: inline-block;
}

#uploadBtn:hover {
  opacity: 1;
}

.flex-right {
  background-color: rgb(240, 234, 234);
  margin-top: 0px;
  min-height: 100vh;
  width: 80%;
  text-align: justify;
  image-rendering: auto;
  background-image: url(./images/logo-no-background.png);
}
