body {
  margin-left: auto;
  max-width: 80rem;
  margin-right: auto;
  min-height: 100vh;
}
.nav-bar {
  margin-top: 20px;
  background-color: #caf9ff;
}

.search {
  background-color: white;
  background-image: url(./images/serch\ icon\ svg.gif);
  background-position: left;

  background-size: 40px;
  background-repeat: no-repeat;

  border: 4px soid #caf9ff;
  padding: 7px 20px;
  font-size: 16px;
  float: right;
  border-radius: 20px;
}
.contact {
  margin-left: auto;
  margin-right: auto;
  background-color: #caf9ff;
  border: 4px solid #caf9ff;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 10px;
  padding-right: 10px;
  padding: 7px 20px;
  font-size: 16px;
  float: right;
  border-radius: 20px;
}
.test-automation {
  margin-left: auto;
  margin-right: auto;
  background-color: #caf9ff;
  border: 4px solid #caf9ff;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 10px;
  padding-right: 10px;
  padding: 7px 20px;
  font-size: 16px;
  float: right;
  border-radius: 20px;
  background-image: url(./images/Dropdown-SVG-Icon-0sfe.png);
  background-position: right;
  background-size: 18px;
  background-repeat: no-repeat;
}
.project {
  margin-left: auto;
  margin-right: auto;
  background-color: #caf9ff;
  border: 4px solid #caf9ff;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 10px;
  padding-right: 10px;
  padding: 7px 20px;
  font-size: 16px;
  float: right;
  border-radius: 20px;
}
.service {
  margin-left: auto;
  margin-right: auto;
  background-color: #caf9ff;
  border: 4px solid #caf9ff;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 10px;
  padding-right: 10px;
  padding: 7px 20px;
  font-size: 16px;
  float: right;
  border-radius: 20px;
}

.about {
  margin-left: auto;
  margin-right: auto;
  background-color: #caf9ff;
  background-image: url(./images/Dropdown-SVG-Icon-0sfe.png);
  background-position: right;
  background-size: 18px;
  background-repeat: no-repeat;

  border: 4px solid #caf9ff;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 10px;
  padding-right: 10px;
  padding: 7px 20px;
  font-size: 16px;
  float: right;
  border-radius: 20px;
}

.Welcome {
  margin-left: auto;
  margin-right: auto;
  background-color: #caf9ff;
  margin-top: auto;
  border-top: 10px;
  border-bottom: 10px;
  border-left: 10px;
  border-right: 10px;

  font-style: oblique;
}
.flex-bottom {
  display: flex;
  background-color: #a9a7a7;
  height: 80px;
  width: 100%;
  justify-content: flex-end;
  color: white;
}

.flex-side {
  display: flex;
}
.flex-left {
  margin-top: 0px;
  height: 100vh;
  width: 10.5%;
  background-image: url(images/me2.png);
  background-position: center;
}

.profile-pic-div {
  margin-top: 40px;
  height: 150px;
  width: 130px;
  position: absolute;

  transform: 50%, -50%;
  border-radius: 50%;
  overflow: hidden;
  border: 1px solid;
}

#photo {
  height: 100%;
  width: 100%;
}

.profile-pic-div:hover #uploadBtn {
  display: initial;
}

#myStayle {
  display: none;
}

#uploadBtn {
  width: 100%;
  height: 25px;
  position: absolute;
  bottom: 0;

  transform: translateX(-100%);
  text-align: center;
  background: rgba(0, 0, 0, 0.5);
  color: #fff;

  font-family: sans-serif;
  font-size: 12px;
  display: none;
  cursor: pointer;
  transition: 200ms;
}
#uploadBtn::-webkit-file-upload-button {
  visibility: hidden;
}
#uploadBtn::before {
  content: "\f030";
  font-family: "fontawesome";
  font-size: 25px;
  color: #fff;
  display: inline-block;
}

#uploadBtn:hover {
  opacity: 1;
}

.flex-right {
  background-color: rgb(240, 234, 234);
  margin-top: 0px;
  min-height: 100vh;
  width: 89.5%;
  text-align: justify;
  image-rendering: auto;
  background-image: url(./images/logo-no-background.png);
}
.LinkId {
  height: 50px;
  width: 50px;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-right: 15px;
  padding-left: 15px;
}
.Github {
  height: 50px;
  width: 50px;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-right: 15px;
  padding-left: 15px;
}
.Fellow {
  text-align: right;
}
ul {
  width: 12%px;
  margin-top: 20%;
  position: absolute;
  background-position: center;
}
li a {
  display: block;
  padding: 20px 8px;
  text-decoration: none;
}
li {
  text-align: center;
  font-style: inherit;
}
li a:hover {
  background-color: #bbdbdf;
  color: rebeccapurple;
}
.test {
  margin-top: 10%;
  text-align: center;
}
.text {
  margin-top: 50px;
  margin-left: 10%;
  margin-right: 10%;
  font-size: 18px;
  justify-content: center;
}
