body {
  margin-left: 100px;
  margin-right: 100px;
}
.nav-bar {
  margin-top: 20px;
  background-color: #caf9ff;
}

.search {
  background-color: white;
  background-image: url(./images/serch\ icon\ svg.gif);
  background-position: left;

  background-size: 40px;
  background-repeat: no-repeat;

  border: 4px soid #caf9ff;
  padding: 7px 20px;
  font-size: 16px;
  float: right;
  border-radius: 20px;
}
.contact {
  margin-left: auto;
  margin-right: auto;
  background-color: #caf9ff;
  border: 4px solid #caf9ff;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 10px;
  padding-right: 10px;
  padding: 7px 20px;
  font-size: 16px;
  float: right;
  border-radius: 20px;
}
.test-automation {
  margin-left: auto;
  margin-right: auto;
  background-color: #caf9ff;
  border: 4px solid #caf9ff;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 10px;
  padding-right: 10px;
  padding: 7px 20px;
  font-size: 16px;
  float: right;
  border-radius: 20px;
  background-image: url(./images/Dropdown-SVG-Icon-0sfe.png);
  background-position: right;
  background-size: 18px;
  background-repeat: no-repeat;
}
.project {
  margin-left: auto;
  margin-right: auto;
  background-color: #caf9ff;
  border: 4px solid #caf9ff;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 10px;
  padding-right: 10px;
  padding: 7px 20px;
  font-size: 16px;
  float: right;
  border-radius: 20px;
}
.service {
  margin-left: auto;
  margin-right: auto;
  background-color: #caf9ff;
  border: 4px solid #caf9ff;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 10px;
  padding-right: 10px;
  padding: 7px 20px;
  font-size: 16px;
  float: right;
  border-radius: 20px;
}

.about {
  margin-left: auto;
  margin-right: auto;
  background-color: #caf9ff;
  background-image: url(./images/Dropdown-SVG-Icon-0sfe.png);
  background-position: right;
  background-size: 18px;
  background-repeat: no-repeat;

  border: 4px solid #caf9ff;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 10px;
  padding-right: 10px;
  padding: 7px 20px;
  font-size: 16px;
  float: right;
  border-radius: 20px;
}

.Welcome {
  margin-left: auto;
  margin-right: auto;
  background-color: #caf9ff;
  margin-top: auto;
  border-top: 10px;
  border-bottom: 10px;
  border-left: 10px;
  border-right: 10px;

  font-style: oblique;
}
.About-me {
  margin-left: auto;
  margin-right: auto;
  background-color: #caf9ff;
  margin-top: 1px;
  border-top: 10px;
  border-bottom: 10px;
  border-left: 10px;
  border-right: auto;
  border-radius: 20px;
  font-style: oblique;
}

.flex-bottom {
  display: flex;
  background-color: #a9a7a7;
  height: 80px;
  width: 100%;

  color: white;
}

.flex-side {
  display: flex;
}
.flex-left {
  background-color: #caf9ff;
  margin-top: 0px;
  height: 1000px;
  width: 10.5%;
}
.flex-right {
  background-color: rgb(240, 234, 234);
  margin-top: 0px;
  height: 1000px;
  width: 89.5%;
  text-align: justify;
  image-rendering: auto;
  background-image: url(./images/logo-no-background.png);
}
.LinkId {
  height: 50px;
  width: 50px;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-right: 15px;
  padding-left: 15px;
  background-position: right;
  margin-left: 90%;
}
.Fellow {
  text-align: right;
}
